html, body {
    background-color: rgb(1, 6, 29);
}
h1 {
    color: rgb(207, 165, 165);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 400px;
    margin-right: 400px;
}
div {
    display: flex;
    margin: 15px;
    flex-direction: row-reverse;
    justify-content: center;
}